html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.frame {
  height: calc(100% / 9);
  width: calc(100% / 9);
  opacity: 0;
  background: white;
  position: relative;
}

.frame-wrapper {
  display: inline-block;
}

.zoom-control {
  height: 10px;
  width: 10px;
  border: 5px solid blue;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

body {
  background: #e2e1e0;
}
